$themeBrown: #6C1401;
$themeDarkBrown: #590907;

$backgroundColour: #F8F8F8;
$backgroundColourGrey: #D8D8D8;
$backgroundColourLightGrey: #E2E2E2;
$backgroundColourDarkGrey: #999999;
$backgroundColourDarkBrown: #442210;

$textDark: #0E070F;
$textBlack: #1F1F1F;
$textGrey1: #999999;
$textGrey2: #808080;
$textGrey3: #555555;
$textGrey4: #E2E2E2;
$textGrey5: #B8B8B8;
$textGrey6: #979797;
$textGold: #FFD877;

$separatorGrey: #B8B8B8;



$responsiveMobilePageMinWidth: 375px;
$responsiveMobilePageMaxWidth: 500px;
$responsiveMobilePagePadding: 20px;
$responsiveMobilePagePaddingLarger: 32px;

$responsiveTabletThreshold: 728px;
$responsiveTabletPagePadding: 24px;

$responsiveDesktopThreshold: 1120px;
$responsiveDesktopPageMaxWidth: 1440px;
$responsiveDesktopPagePadding: 38px;



$headerHeight: 100px;
$headerSecondDeckHeight: 38px;
$headerHeightPlusSecondDeck: $headerHeight + $headerSecondDeckHeight;

$headerButtonSideLength: 20px;



// animation by Ai Jian
$fontSizeS: 24px;
$fontSizeM: 28px;
$fontSizeL: 32px;
$fontSizeXl: 36px;
$fontSizeXxl: 42px;

$widthMobile: 90%;
$widthTablet: 70%;
$widthDesktop: 60%;