@use 'global' as *;



body {
    max-width: $responsiveDesktopPageMaxWidth;
}


header {
    .second-deck {
        background-color: $backgroundColour;
    }
}



main .content {
    max-width: $responsiveTabletThreshold;
}


h1 {
    @extend .commonProminentH1;
    margin-top: 30px;
}



section.cart {
    $imageWidthTablet: 134px;
    $imageInfoMarginTablet: 30px;


    .entries {
        margin-top: 20px;


        .entry {
            .image {
                @include respondToTablet {
                    flex-basis: $imageWidthTablet;
                    width: $imageWidthTablet; height: $imageWidthTablet;
                    margin-right: $imageInfoMarginTablet;
                }
            }


            .info {
                @include respondToTablet {
                    padding-top: 20px;
                }
            }
        }
    }


    .subtotal {
        @include respondToTablet {
            padding-left: $imageWidthTablet + $imageInfoMarginTablet;
        }
    }



    #coupon-form {
        display: flex;
        height: 40px;
        margin-top: 20px;

        @include respondToTablet {
            padding-left: $imageWidthTablet + $imageInfoMarginTablet;
        }


        input[type='text'] {
            flex-grow: 1;
            height: 100%;
            margin-top: 0;
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 1px;
        }


        button[type='submit'] {
            flex: 0 0 33%;
            width: 33%;
            height: 100%;
            margin-left: 8px;
            background-color: $themeBrown;
            color: white;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1px;
            text-align: center;
        }
    }


    .total {
        margin-top: 30px;

        @include respondToTablet {
            padding-left: $imageWidthTablet + $imageInfoMarginTablet;
        }
    }
}



section.samples {
    margin-top: 30px;


    h2 {
        @extend .commonUnderlinedH2;
        margin-bottom: 25px;
        font-size: 16px;
    }


    label {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 8px;
        color: $textGrey3;
        font-size: 14px;
        letter-spacing: 0.8px;


        input[type='radio'] {
            flex: 0 0 20px;
        }
    }


    .list {
        margin-top: 20px;


        .item {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;


            input[type='checkbox'] {
                flex: 0 0 20px;
            }


            img {
                flex: 0 0 76px;
                width: 76px; height: 76px;
                object-fit: cover;
                background-color: white;
            }


            .title {
                color: $textGrey3;
                font-size: 14px;
                letter-spacing: 0.8px;
            }
        }
    }
}



section.buttons {
    margin-top: 60px;


    .content.narrow {
        max-width: 450px + 2 * $responsiveMobilePagePadding;
    }
}


footer {
    margin-top: 100px;

    @include respondToTablet {
        margin-top: 120px;
    }
}