@use 'global' as *;



body {
    max-width: none;
    padding-top: 0;
}


main {
    position: fixed;
    top: 0; height: 100%;
    left: 0; width: 100%;

    @include respondToDesktop {
        display: flex;
    }


    .section.half {
        position: relative;
        height: 50%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition-property: height, width;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
        cursor: pointer;

        @include respondToDesktop {
            height: 100%;
            width: 50%;
        }

        &.expanded {
            height: 80%;

            @include respondToDesktop {
                height: 100%;
                width: 80%;
            }
        }

        &.collapsed {
            height: 20%;

            @include respondToDesktop {
                height: 100%;
                width: 20%;
            }


            .logo, .discovery-guide {
                opacity: 0;
            }
        }

        &.first {
            @include respondOnlyMobile {
                padding-bottom: 30px;
            }

            @include respondToDesktop {
                padding-top: 27px;
            }


            #emblem {
                $w: 103px; $h: 137px;
                z-index: 20;
                position: absolute;
                bottom: 0; left: 50%;
                width: $w; height: $h;
                object-fit: contain;
                margin-left: - $w / 2;
                transform: translateY(50%);

                @include respondToDesktop {
                    $w: 150px; $h: 198px;
                    left: auto; bottom: auto;
                    top: 50%; right: 0;
                    width: $w; height: $h;
                    margin-left: 0;
                    margin-top: - $h / 2;
                    transform: translateX(50%);
                }
            }


            .border {
                bottom: 0;
                border-bottom: 1px solid $themeBrown;

                @include respondToDesktop {
                    right: 0;
                    border-bottom: none;
                    border-right: 1px solid $themeBrown;
                }
            }


            .logo {
                width: 100px;

                @include respondToDesktop {
                    width: 200px;
                }
            }


            .discovery-guide {
                @include respondToDesktop {
                    margin-top: -36px;
                }
            }
        }

        &.second {
            padding-top: 20px;

            @include respondToDesktop {
                padding-top: 30px;
            }


            .border {
                top: 0;
                border-top: 1px solid $themeBrown;

                @include respondToDesktop {
                    left: 0;
                    border-top: none;
                    border-left: 1px solid $themeBrown;
                }
            }


            .logo {
                width: 160px;

                @include respondToDesktop {
                    width: 300px;
                }
            }
        }


        .border {
            z-index: 10;
            position: absolute;
            left: $responsiveMobilePagePadding;
            right: $responsiveMobilePagePadding;

            @include respondToTablet {
                left: 60px;
                right: 60px;
            }

            @include respondToDesktop {
                left: auto;
                right: auto;
                top: 84px !important;
                bottom: 84px !important;
            }
        }


        .logo, .discovery-guide {
            z-index: 10;
            transition: opacity 0.4s ease-out;
        }


        .discovery-guide {
            line-height: 1;
            margin-bottom: 22px;
            @include serifFontFamily;
            font-size: 36px;
            font-weight: 500;

            @include respondToDesktop {
                font-size: 50px;
            }


            .line {
                margin-top: 18px;
            }
        }


        video.background {
            z-index: 1;
            position: absolute;
            left: 0; width: 100%;
            top: 0; height: 100%;
            object-fit: cover;
            display: none;

            &.show {
                display: block;
            }
        }
    }
}