@use 'global' as *;



body {
    max-width: $responsiveDesktopPageMaxWidth;
}


header {
    .second-deck {
        background-color: $backgroundColour;
    }
}



.content.narrow {
    max-width: 340px;
    padding-left: 0;
    padding-right: 0;
}


h1 {
    @extend .commonProminentH1;
}


.layout-wrapper {
    @include respondToDesktop {
        display: flex;
        align-items: start;
        padding-top: 70px;
        padding-bottom: 100px;


        section {
            flex: 1;
        }
    }
}



section.existing-customer {
    position: relative;
    padding-bottom: 40px;


    h1 {
        margin-top: 30px;
        margin-bottom: 50px;

        @include respondToDesktop {
            margin-top: 0;
        }
    }


    #login-form {
        button.large {
            margin-top: 25px;
        }
    }


    .options {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .remember-me {
            display: flex;
            align-items: center;
            gap: 8px;


            .text {
                color: $textGrey3;
                font-size: 14px;
                font-weight: 300;
            }
        }


        .forgot-password {
            color: $textGrey1;
            font-size: 14px;
            font-weight: 300;
            text-decoration: underline;
        }
    }


    .third-party {
        margin-top: 40px;


        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding-left: 0.5px;
            letter-spacing: 0.5px;


            img {
                height: 69%;
            }
        }
    }


    .separator {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 340px;
        transform: translateX(-50%);
        border-bottom: 1px solid $textGrey1;

        @include respondToDesktop {
            bottom: 50%;
            left: auto;
            right: 0;
            height: 300px;
            width: auto;
            transform: translateY(50%);
            border-bottom: none;
            border-right: 1px solid $textGrey1;
        }
    }
}



section.new-customer {
    padding-bottom: 40px;


    h1 {
        margin-top: 50px;
        margin-bottom: 40px;

        @include respondToDesktop {
            margin-top: 0;
        }
    }


    button {
        margin-top: 30px;
    }


    .note {
        padding-left: 1px;
        color: $textGrey3;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
    }
}