@use 'global' as *;



body {
    max-width: $responsiveDesktopPageMaxWidth;
}


header {
    .second-deck {
        background-color: $backgroundColour;
    }
}



section.collections {
    display: none;

    @include respondToDesktop {
        display: block;
        display: none !important;
        z-index: 10;
        position: sticky;
        top: $headerHeight;
        overflow-y: hidden;
        height: 40px; line-height: 40px;
        border-top: 1px solid rgba($themeBrown, 25%);
        background-color: $backgroundColour;
        text-align: center;
    }


    .content {
        white-space: nowrap;
        overflow-x: scroll;
        @include serifFontFamily;


        a {
            margin-left: 20px;
            color: rgba($themeBrown, 50%);
            font-size: 14px;
            letter-spacing: 0.9px;

            &:first-child {
                margin-left: 0;
            }

            &.current {
                color: $themeBrown;
                font-weight: 700;
            }

            @include respondToDesktop {
                margin-left: 20px;
                margin-right: 20px;

                &:first-child {
                    margin-left: 20px;
                }
            }
        }
    }
}



section.banner-title {
    .banner {
        overflow: hidden;
        position: relative;
        height: 64vw;

        @include respondToTablet {
            height: 55vw;
        }

        @include respondToDesktop {
            height: 35vw;
            max-height: 35 / 100 * $responsiveDesktopPageMaxWidth;
        }


        .slide {
            position: relative;
            width: 100%;
            height: 100%;


            .image {
                position: absolute;
                left: 0; width: 100%;
                top: 0; height: 100%;
                object-fit: cover;

                &.show-top {
                    object-position: center top;
                }
            }


            .details {
                display: none;

                @include respondToDesktop {
                    position: absolute;
                    width: 61.8%; height: 100%;
                    text-align: center;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &.at-right {
                        right: 0;
                    }
                    &.at-left {
                        left: 0;
                    }

                    &.theme-coloured {
                        color: $themeBrown;
                        border-color: $themeBrown;
                    }
                    &.white-coloured {
                        color: white;
                        border-color: white;
                    }


                    .title, .subtitle {
                        line-height: 1.1;
                        font-weight: 500;
                        letter-spacing: 2px;
                    }

                    .title {
                        @include serifFontFamily;
                        font-size: 48px;
                    }

                    .subtitle {
                        margin-top: 10px;
                        font-size: 24px;
                    }


                    button {
                        margin-top: 20px;
                        padding: 4px 40px;
                        color: inherit;
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 2px;
                        border: 1px solid;
                    }
                }
            }


            .full-slide-link {
                z-index: 10;
                display: block;
                position: absolute;
                left: 0; right: 0;
                top: 0; bottom: 0;
            }
        }


        .flickity-prev-next-button {
            display: none;

            @include respondToDesktop {
                display: block;
                $d: 26px;
                width: $d; height: $d;
                background-color: white;
                visibility: hidden;
                opacity: 0.0;
                transition: visibility 0.15s, opacity 0.15s ease;

                &.previous {
                    left: 38px;
                }
                &.next {
                    right: 38px;
                }

                &:hover {
                    opacity: 1 !important;
                }
            }
        }

        &:hover .flickity-prev-next-button {
            @include respondToDesktop {
                visibility: visible;
                opacity: 0.4;
            }
        }

        .flickity-button-icon {
            fill: $themeBrown;
        }


        .flickity-page-dots {
            bottom: 20px;


            .dot {
                width: 30px;
                height: 1px;
                margin: 0 7px;
                border-radius: 0;
                background-color: $themeBrown;
                opacity: 0.3;

                &.is-selected {
                    opacity: 1;
                }
            }
        }
    }


    h2 {
        line-height: 1;
        margin-top: 30px;
        color: $themeBrown;
        @include serifFontFamily;
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 1px;

        @include respondToTablet {
            margin-top: 40px;
        }
    }
}



section.products {
    margin-top: 10px;
}