@use "global" as *;
html {
  background-color: #fff;
}

body {
  max-width: $responsiveDesktopPageMaxWidth;
  padding-top: 0;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

header {
  // background-color: transparent !important;
  background-color: #fff;

  .second-deck {
    background-color: #fff;
  }
}

section {
  position: relative;
  max-width: $responsiveDesktopPageMaxWidth;
  margin-top: 40px;
  @include respondToTablet {
    margin-top: 100px;
  }
}

.section-titles {
  width: 70%;
  margin: auto;
  color: $themeBrown;
  @include serifFontFamily;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 20px;
  @include respondToTablet {
    width: 70%;
    font-size: 48px;
    margin-bottom: 40px;
  }
}
h1,
h2,
h3 {
  @include serifFontFamily;
  font-weight: 500;
  text-align: center;
}
.btn {
  background-color: $themeBrown;
  color: #fff;
  font-style: normal;
  font-weight: 300;
  border-radius: 100px;
}
.reservation-btn-small {
  height: 30px;
  width: 100%;
  font-size: 12px;

  @include respondToTablet {
    height: 40px;
    width: 220px;
    font-size: 16px;
  }
}
.reservation-btn-large {
  height: 46px;
  width: 303px;
  font-size: 22px;

  @include respondToDesktop {
    height: 64px;
    width: 421px;
    font-size: 30px;
  }
}

.arrow-left {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 27px;
  width: 27px;
  background: url(../assets/icons/chevron-left.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #f4f4f4;
  z-index: 10;
}
.arrow-right {
  @extend.arrow-left;
  background-image: url(../assets/icons/chevron-right.png);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

section#main {
  margin-top: $headerHeight;
  display: flex;
  flex-direction: column;
  height: max-content;

  @include respondToTablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: $headerHeightPlusSecondDeck;
  }
  .img {
    min-height: 276px;
    width: 100%;
    position: relative;
    overflow: hidden;
    @include respondToTablet {
      min-height: 330px;
      width: 50%;
    }
    @include respondToDesktop {
      height: 501px;
      width: 55%;
    }
  }
  .item {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3ch;

    @include respondToTablet {
      padding: 0;
      width: 40%;
    }

    &-title {
      text-align: left;
      margin: 0;
      width: 100%;
    }

    &-subtitle {
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.3;
      margin-bottom: 36px;
      color: #717070;

      @include respondToTablet {
        max-width: 80%;
      }
      span {
        color: $themeBrown;
        font-weight: 500;
      }
    }

    &-description {
      display: flex;
      flex-direction: row;
      color: $themeBrown;
      gap: 106px;
      span {
        font-size: smaller;
      }
    }
  }
  .btn {
    width: 100%;
    @include respondToTablet {
      width: 340px;
    }
  }
}

section#content {
  margin-top: 0;
  span {
    color: $themeBrown;
    font-weight: 500;
  }
  .content-text {
    @include serifFontFamily;
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    color: #717070;
    margin: auto;
    padding: 60px 0 150px 0;

    @include respondToTablet {
      width: $widthTablet;
      padding-bottom: 100px;
    }
    @include respondToDesktop {
      font-size: 44px;
    }
  }
  .content-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    background: #fafafa;
    height: 60vh;
    @include respondToTablet {
      height: 45vh;
    }
    .content-p_wrapper {
      width: $widthMobile;
      padding-bottom: 5vh;
      p {
        width: $widthMobile;
        margin: auto;
        padding-bottom: 2em;
        line-height: 1.3;
        font-size: 18px;
        font-weight: 300;
        color: #717070;
      }
      .btn {
        width: 100%;
        @include respondToTablet {
          width: 340px;
        }
      }
      @include respondToTablet {
        width: 40%;
        position: absolute;
        left: 10%;
        top: 15%;
        padding: 0;
        p {
          width: 100%;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
    .content-img_wrapper {
      position: absolute;
      top: -100px;
      display: flex;
      justify-content: center;
      gap: 2ch;
      @include respondToTablet {
        top: 0;
        right: 15%;
        transform: scale(1.5);
      }
      .item-container {
        .img {
          height: 200px;
          width: 140px;
          margin: auto;
          border-radius: 165px;
          position: relative;
          @include backgroundCover;
        }
        .before {
          background-size: 160%;
          background-position: 70% 20%;
        }
        p {
          @include serifFontFamily;
          text-align: center;
          padding-top: 1em;
        }
        .after::after {
          content: " ";
          @extend .img;
          position: absolute;
          left: -1.5px;
          top: -1.5px;
          transform: scale(1.07);
          border: 1px solid $themeBrown;
          z-index: 10;
        }
      }
    }
  }
}

section#steps {
  width: 100%;
  min-height: 100vh;

  .steps-container {
    width: 80%;
    border-radius: 100px 100px 0 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(380px, 1fr));
    align-items: flex-start;
    min-height: 100%;
    margin: auto;
    overflow: hidden;

    @include respondToTablet {
      width: 90%;
      grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(419px, 1fr));

      .step.step-subtitle {
        height: 90px;
      }
    }
    @include respondToDesktop {
      grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(476px, 1fr));
    }

    $content-margin: 14px;
    .step {
      width: 100%;
      height: 100%;
      background: #fafafa;
      color: #717070;

      &-img {
        height: 184px;
        width: 100%;
        @include backgroundCover;
      }
      &-title,
      &-subtitle {
        text-align: center;
        margin: $content-margin 0;
      }

      &-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0px;
        color: $themeBrown;
      }

      &-subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        height: 70px;
        width: 95%;
        margin: auto;
        text-align: center;
        display: grid;
        place-content: center;
        @include sansSerifFontFamily;
      }

      hr {
        width: 90%;
      }

      &-detail {
        margin: $content-margin 0;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: -0.5px;
        width: 80%;
        margin: auto;

        .more-text {
          display: none;
        }
      }
      .show-more {
        .more-text {
          display: inline;
        }
        .dots {
          display: none;
        }
      }
      &-readmore-btn {
        @extend .step-detail;
        cursor: pointer;
        text-decoration: underline;
        margin: $content-margin auto;
      }
    }
  }
}

section#tech {
  .tech-container {
    width: 90%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(260px, 1fr));
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: auto;

    @include respondToTablet {
      width: 55%;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(410px, 1fr));
      margin-bottom: 5rem;
      margin: auto;
    }
    @include respondToDesktop {
      width: 75%;
      margin-bottom: 0rem;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }

    .tech {
      width: 100%;
      height: 100%;
      &:first-child .tech-img {
        border-radius: 100px 0 0 0;
      }
      &:last-child .tech-img {
        border-radius: 0 0 100px 0;
      }

      &-img {
        height: 208px;
        min-width: 100%;
        @include backgroundCover;
      }

      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #717070;
        text-align: center;
        margin: 13px 0;
      }
      @include respondToTablet {
        &-img {
          height: 351px;
          @include backgroundCover;
        }
        &-title {
          font-weight: 400;
          font-size: 24px;
        }
      }
    }
  }
}

section#cosmetic {
  height: fit-content;

  .cosmetic-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    .products-img {
      height: 249px;
      width: 316px;
      margin: auto;
      overflow: hidden;
      position: relative;
      img {
        object-position: 50% 70%;
      }

      $btn-size: 20px;
      .breathing-btn {
        cursor: pointer;
        position: absolute;
        top: 20%;
        right: 50%;
        width: $btn-size;
        height: $btn-size;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 1;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.4);
          z-index: -1;
          animation: move 2s ease infinite;
        }

        @keyframes move {
          to {
            transform: scale(2.5);
            opacity: 0;
          }
        }
      }
      $btn-top: 0%;
      .item-1 {
        top: 50% + $btn-top;
        right: 70%;
      }
      .item-2 {
        top: 22% + $btn-top;
        right: 57%;
      }
      .item-3 {
        top: 55% + $btn-top;
        right: 37%;
      }
      @include respondToTablet {
        $btn-top: 17%;
        $btn-right: 2%;
        .item-1 {
          top: 50% + $btn-top;
          right: 70% + $btn-right;
        }
        .item-2 {
          top: 22% + $btn-top;
          right: 57% + $btn-right;
        }
        .item-3 {
          top: 55% + $btn-top;
          right: 37% + $btn-right;
        }
      }
    }
    @include respondToTablet {
      flex-direction: row;
      width: 90%;
      height: 65vh;
      margin: auto;
      margin-top: 63px;
      gap: 40px;
      .products-img {
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 100px 0 0 0;
        img {
          object-position: 50% 65%;
        }
      }
    }

    .list-wrapper {
      position: relative;
      overflow: hidden;
      padding-top: 2.5rem;
      margin-bottom: 4rem;
      display: none;
      width: 80%;
      @include respondToTablet {
        display: block;
        width: 45%;
        height: 100%;
        .item-img {
          width: 100%;
          height: 100%;
        }
        margin: 0;
        padding: 0;
      }
      .close-btn {
        cursor: pointer;
        background-image: url(../assets/icons/x.png);
        height: 16px;
        width: 16px;
        z-index: 10;
        @include backgroundCover;
        position: absolute;
        top: 1rem;
        right: 12%;
        @include respondToTablet {
          display: none;
        }
      }
      .arrow-left {
        left: 10%;
      }
      .arrow-right {
        left: auto;
        right: 10%;
      }

      .item-wrapper {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        @include respondToTablet {
          height: 100%;
        }
      }
      .item {
        width: 100%;
        height: 100%;
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-img {
          width: 180px;
          height: 180px;
          overflow: hidden;
          position: relative;
          img {
            object-position: 50% 40%;
          }
          @include respondToTablet {
            width: 100%;
            height: 100%;
          }
        }

        &-name {
          color: $themeBrown;
        }
        &-description {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          text-align: center;
          text-transform: uppercase;
          color: #717070;

          span {
            display: block;
            margin: 14px 0;
          }
        }
        .btn {
          width: 70%;
          @include respondToTablet {
            width: 85%;
          }
        }
      }
    }
  }
}

section#engagement {
  .icon-wrapper {
    position: relative;
    width: 70%;
    margin: auto;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    @include respondToTablet {
    }

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: fit-content;
      min-width: 15ch;
      min-height: 145px;
      gap: 20px;
      @include respondToTablet {
        min-width: 23ch;
      }
      &-img {
        height: 50px;
        width: 50px;
        @include backgroundContain;
      }
      &-title {
        color: $themeBrown;
        @include serifFontFamily;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        width: 85%;
      }
      p {
        text-align: center;
      }
    }
  }
}
.arrow-left {
  left: 10%;
}
.arrow-right {
  left: auto;
  right: 10%;
}

section#awards {
  .awards-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
    margin: auto;
    padding: 1.5rem 2rem;
    flex-wrap: nowrap;

    .award {
      flex-grow: 0;
      flex-shrink: 0;
      width: 165px;
      height: 331px;
      background: #f4f4f4;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &-img {
        width: 144px;
        height: 171px;
        @include backgroundCover;
      }
      &-title {
        color: #717070;
        width: 85%;
        height: 35%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        transform: translateY(-50%);
        h2 {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.3;
          text-align: left;
          @include sansSerifFontFamily;
        }
        span {
          display: inline-block;

          // position: absolute;
          // bottom: 10%;
        }
      }

      @include respondToTablet {
        margin: auto;
        width: 300px;
        height: 573px;
        background-color: transparent;
        box-shadow: none;

        &-img {
          width: 253px;
          height: 425px;
          border-radius: 100px;
          position: relative;
        }

        &-img::after {
          content: "";
          width: 253px;
          height: 425px;
          position: absolute;
          left: 10px;
          top: 0;
          border-radius: 200px;
          border: 1px solid $themeBrown;
        }

        &-title {
          font-weight: 300;
          line-height: 28px;
          background: #fff;
          padding: 0.5rem 0;
          height: 20%;
          z-index: 1;
          box-shadow: 0 -40px 10px rgba(255, 255, 255, 0.7);
          align-items: center;
          h2 {
            text-align: center;
          }

          span {
            font-weight: 400;
            color: #000;
            text-align: center;
            bottom: 15%;
          }
        }
      }
    }
  }
}

section#la-maison {
  .arrow-left {
    left: 10%;
  }
  .arrow-right {
    left: auto;
    right: 10%;
  }

  @include respondToTablet {
    .arrow-right,
    .arrow-left {
      display: none;
    }
  }
  .person-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    gap: 2rem;
    width: 90%;
    margin: auto;
    padding: 0 50px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    @include respondToTablet {
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem;
    }

    .person {
      min-height: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 14px;
      @include respondToTablet {
        width: fit-content;
        min-height: 350px;
        gap: 50px;
      }

      &-img {
        width: 123px;
        height: 171px;
        // overflow: hidden;
        position: relative;

        @include respondToTablet {
          width: 309px;
          height: 424px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 100px 100px 0 0;
          position: relative;
          z-index: 1;
          @include respondToTablet {
            border-radius: 300px 300px 0 0;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 123px;
          height: 181px;
          border-radius: 100px 100px 0 0;
          left: 10px;
          top: -7px;
          border: 1px solid $themeBrown;
          @include respondToTablet {
            border-radius: 300px 300px 0 0;
            width: 304.41px;
            height: 446.18px;
            top: -13px;
            left: 20px;
          }
        }
      }
    }
  }
}

section#video {
  margin-top: 30px;
  @include respondToTablet {
    margin-top: 60px;
  }

  .video {
    height: 240px;
    width: 100%;
    @include respondToTablet {
      height: 400px;
    }
    @include respondToDesktop {
      height: 630px;
    }
    video {
      height: 100%;
      width: 100%;
    }
  }
}

section#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  h2 {
    padding: 0 20px;
  }

  .products-wrapper {
    margin-top: 40px;
    display: flex;
    width: 100vw;
    overflow-x: scroll;

    .product {
      padding-left: 30px;
      &-name {
        font-size: 14px;
        padding: 1rem 0;
      }
      &-img {
        height: 200px;
        width: 160px;
        background-color: $backgroundColourGrey;
      }
      &:last-child {
        padding-right: 30px;
      }
    }
    @include respondToTablet {
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      // gap: 3ch;
      .product {
        &-name {
          font-size: $fontSizeS;
        }
        &-img {
          height: 365px;
          width: 283px;
          background-color: $backgroundColourGrey;
        }
      }
    }
  }
}

section#recommendation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-bottom: 60px;

  .items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3ch;

    @include respondToTablet {
      gap: 7ch;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5ch;
      width: 160px;
      &-name {
        font-size: 14px;
        margin: 0;
        width: 100%;
        margin-bottom: 1.5ch;
      }
      &-img {
        position: relative;
        height: 200px;
        width: 160px;
        background-color: $backgroundColourGrey;
        img {
          height: 100%;
        }
      }
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        text-align: center;
        color: #717070;
        span {
          color: $themeBrown;
          font-weight: 500;
        }
      }
    }
    @include respondToTablet {
      .item {
        width: 283px;
        &-name {
          font-size: $fontSizeS;
        }
        &-img {
          height: 365px;
          width: 283px;
          background-color: $backgroundColourGrey;
        }
        p {
          font-size: 20px;
          width: 100%;
        }
      }
    }
  }
}
